/* -- Background -- */
body {

    background-image: url('../images/background.jpg');
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

/* -- Some custom Bootstrap colors -- */
.bg-dark {

    color: #fff;

}

.bg-dark2 {
    
    background-color: rgb(57, 63, 69);
    color: #fff;
    
}

/* -- Spacing -- */
.spacer {
    
    height: 20vh;

    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    
}

.spacer2x {

    height: 40vh;

    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;

}

.main-container {
    
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
    
}
    
.end-container {
    
    height: 20px;
    
}

/* -- Classes for text alginment -- */
.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

/* Bootstrap Media Alignment and compatability with font-awesome */
.media.left i {

    margin-right: 20px;

}

.media.right .media-body {

    margin-right: 20px;

}

/* Card Design */
#products-container .card {
    
    position: relative;
    display: inline-block;
    min-width: 250px;
    width: 10%;
    max-width: 500px;
    height: 300px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    padding: 15px;

    background-color: rgba(0, 0, 0, 0.2);

}

#products-container .bottom {

    position: absolute;
    align-self: center;

    bottom: 20px;
    left: 50%;

}

#products-container .bottom .btn {

    position: relative;
    left: -50%;

}

/* -- Pagination -- */
.pagination {
    display: inline-flex;
}

.page-link {

    transition: background-color linear 80ms;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.125);

    color: #fff;

}

.page-link:hover {

    transition: background-color linear 80ms;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.125);

    color: #fff;

}

.page-link.active {

    background-color: rgba(0, 0, 0, 0.6);

}